<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/images/SB.png" type="image/x-icon" />
    <link rel="stylesheet" href="./assets/pages/styles.css" />
    <title>Stand Bank</title>
  </head>
  <body class="flex flex-col">
    <div id="app">
        <main id="mainIndex" class="">


            

            <form action="" class="bg-azulOscuro flex flex-col px-10  w-[25rem] h-[30rem] text-beige items-center m-auto" v-if ="registered" @submit.prevent>
             <label for="">Name</label >
                <input type="text" v-model="name">

                <label for="">Last Name</label>
                <input type="text" v-model="lastName">

                <label for="">Email</label>
                <input type="text" v-model="email">

                <label for=""> Password</label>
                <input type="password" name="" id="" v-model="password">

               

                <button class="bg-verdeClaro p-2 text-azulOscuro" @click="register()"> SIGN UP
                </button>

                
                <button type="submit" @click="registrado " @submit.prevent>"Already have an account?</button >
             

            </form>

            <form action="" class="bg-azulOscuro flex flex-col px-10  w-[25rem] h-[30rem] text-beige items-center m-auto" v-else>
                <label for="">Email</label>
                <input type="text" v-model="email">

                <label for=""> Password</label>
                <input type="password" name="" id="" v-model="password">

                
                <button class="bg-verdeClaro p-2 text-azulOscuro" @click="registrado"> SIGN IN
                </button>

                
                <button type="submit" @click.prevent="registrado">"Don't have an account?</button >


            </form>

            




        </main>


    




    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./assets/pages/tailwind.config.js"></script>
    <script src="./assets/pages/index.js"></script>
  </body>
</html>
