body{
    background-color: #FFFCF1;
}


main{
    
    flex-grow: 1;
    
    background-image: url(../images/SBback.png);
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20rem auto;    
    background-attachment: fixed;
    
    
}



.card{
    background: rgb(24,29,49);
    background: linear-gradient(307deg, rgba(24,29,49,1) 0%, rgba(51,61,99,1) 77%, rgba(24,29,49,1) 100%);

}

.cardButton{
    background: rgb(113,143,125);
background: linear-gradient(307deg, rgba(113,143,125,1) 0%, rgba(121,167,140,1) 32%, rgba(121,168,140,1) 67%, rgba(113,143,125,1) 100%);
    text-shadow: 10px 10px 43px 35px rgba(0,0,0,0.92);

}

#creditCard{
    background-image: url(../images/CardGold.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 25rem auto; 
}

#debitCard{
    background-image: url(../images/CardSilver.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 25rem auto; 

}

.cardText{
    text-shadow: 10px 10px 2px -7px rgb(0, 0, 0);
}

 #mainIndex{
    height: 100vh;
    position:relative;
    display: flex;
    flex-direction: column;
    
    
    background-image: url(../images/indexBackground.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right;
    
} 


.formulario{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 30rem;
    color:#E6DDC4;
    align-items: center;
    gap:1rem;
   
    
    background-color: #181d31e2; 
    top:6rem;
    right: 10rem;
    border-radius: 0.5rem;
    justify-content: center;
    
}
#title{
    font-size: 2.5rem;
  
    text-align: start;

}

.blur{
    background: rgba(255, 255, 255, 0.193);

backdrop-filter: blur(5px);

}

.textoIndex{
    font-family: 'Spectral', serif;
    text-decoration: none;
    color:  rgb(3, 3, 35);
   
}



@media only screen and (max-width:425px) {
    .formulario{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -40%);
        padding-top: 2rem;
        
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 25rem;
        color:#E6DDC4;
        align-items: center;
        gap:1rem;
        background-color: #181d31e2;
        
        border-radius: 0.5rem;
        justify-content: center;
        
    }
    .formulario input{
        
        height:1rem;
    }
    #logo{
        width: 20rem;
        position: static;
        display: flex;
        margin:2rem auto 0 auto;
       
        
        
    }

    #title{
        position: static;
        font-size: 1.5rem;
        
    }
    .formNav{
        margin-bottom: 1rem;
    }
    
}



@media only screen and (max-width: 1250px) and (min-width: 425px) {
    #logo{
        width: 30rem;
        position: static;
        display: flex;
        margin:2rem auto 0 auto;
       
        
        
    }

    #title{
        position: static;
        font-size: 2rem;
        line-height: normal;
        
    }
    .formulario{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -40%);
        padding-top: 2rem;
        
        display: flex;
        flex-direction: column;
        width: 25rem;
        height: 27rem;
        color:#E6DDC4;
        align-items: center;
        gap:1rem;
        background-color: #181d31e2;
        
        border-radius: 0.5rem;
        justify-content: center;
        
    }
}
    



.formulario input{
    background-color: rgba(255, 255, 255, 0.29);
    height: 2rem;
    width: 90%;
    border-radius: 1rem;
    margin:auto;
}

.formulario label {
    margin-left: 2rem;
}

.formNav{
    position: absolute;
    top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

