body{
    background-color: #FFFCF1;
}


main{
    position:relative;
    flex-grow: 1;
    
    background-image: url(../images/SBback.png);
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20rem auto;    
    background-attachment: fixed;
    
    
}



.card{
    background: rgb(24,29,49);
background: linear-gradient(307deg, rgba(24,29,49,1) 0%, rgba(51,61,99,1) 77%, rgba(24,29,49,1) 100%);

}

.cardButton{
    background: rgb(121,168,140);
    background: linear-gradient(307deg, rgba(121,168,140,1) 0%, rgba(179,233,201,1) 32%, rgba(123,170,142,1) 100%);

    text-shadow: 10px 10px 43px 35px rgba(0,0,0,0.92);

}